<a href="https://colab.research.google.com/github/sahithidevarashetty/sahithi_INFO5731_Fall2021/blob/main/in_class_exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The second In-class-exercise (09/22/2022, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [41]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

The research question of interest is, which states in US have been affected by coronavirus. 
For this I would like to collect data like total cases, total deaths, Total recovered, Total cases per 1 million population, deaths per 1 million population.
I would collect these statistics for each state and then evaluate which states worst affected. 

We can get the data from https://www.worldometers.info/ We can get this data by using webscraping tools like beautiful soup or selenium

'''

'\nPlease write you answer here:\n\nThe research question of interest is, which states in US have been affected by coronavirus. \nFor this I would like to collect data like total cases, total deaths, Total recovered, Total cases per 1 million population, deaths per 1 million population.\nI would collect these statistics for each state and then evaluate which states worst affected. \n\nWe can get the data from https://www.worldometers.info/ We can get this data by using webscraping tools like beautiful soup or selenium\n\n'

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [42]:
# You code here (Please add comments in the code):
from bs4 import BeautifulSoup
import requests
import pandas as pd

url="https://www.worldometers.info/coronavirus/country/us"
response = requests.get(url)
soup = BeautifulSoup(response.text, "lxml")

table = soup.find("table", attrs={"id": "usa_table_countries_today"})
head = table.thead.find_all("tr") 

table_headings = head[0].find_all("th")

column_names = []
for th in table_headings:
    column_names.append(th.text.replace("\n","").strip())


body = table.tbody.find_all("tr") 
body

data_matrix = []
for i in range(1,len(body)):
    row = []
    for tr in body[i].find_all("td"):
        row.append(tr.text.replace("\n","").strip())
    data_matrix.append(row)

df = pd.DataFrame(data_matrix,columns=column_names)
df.head(10)

,#,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Source,Projections
0,1,California,"11,233,298",,"96,014",,"10,825,046","312,238","284,299","2,430","185,121,962","4,685,182","39,512,223",[1],[projections]
1,2,Texas,"7,938,758",,"91,201",,"7,680,411","167,146","273,789","3,145","71,864,217","2,478,428","28,995,881",[1],[projections]
2,3,Florida,"7,157,633",,"81,261",,"6,971,259","105,113","333,258","3,783","63,125,659","2,939,121","21,477,737",[1],[projections]
3,4,New York,"6,276,059",,"72,106",,"6,152,808","51,145","322,617","3,707","119,622,517","6,149,132","19,453,561",[1] [2],[projections]
4,5,Illinois,"3,756,708",,"39,637",,"3,621,935","95,136","296,462","3,128","57,898,053","4,569,040","12,671,821",[1],[projections]
5,6,Pennsylvania,"3,239,298",,"47,098",,"3,153,162","39,038","253,031","3,679","28,359,958","2,215,277","12,801,989",[1],[projections]
6,7,North Carolina,"3,182,775",,"26,458",,"3,120,714","35,603","303,466","2,523","26,356,209","2,512,967","10,488,084",[1] [2] [3] [4],[projections]
7,8,Ohio,"3,131,645",,"39,767",,"3,034,451","57,427","267,912","3,402","22,345,248","1,911,631","11,689,100",[view by county] [1] [2],[projections]
8,9,Georgia,"2,900,354",,"40,171",,"2,822,561","37,622","273,169","3,783","26,969,833","2,540,149","10,617,423",[1],[projections]
9,10,Michigan,"2,821,489",,"38,464",,"2,723,684","59,341","282,520","3,851","27,016,177","2,705,173","9,986,857",[1] [2] [3] [4],[projections]

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [43]:

import requests
query_params = {
    'query' : 'information retrieval',
    'offset' : 0,
    'limit' : 100,
    'fields' : 'title,authors,abstract,year,venue',
    'year' : '2012-2022'
}
url = "http://api.semanticscholar.org/graph/v1/paper/search?query=information+retrieval"
# response = requests.get(url, params=query_params)

all_papers = []
for i in range(10):
  query_params['offset'] += 10
  response = requests.get(url, params=query_params)
  all_papers.extend(response.json()['data'])

import pandas as pd
filtered_list = []
for paper in all_papers:
  p = {}
  p['title'] = paper['title']
  p['year'] = paper['year']
  p['venue'] = paper['venue']
  p['authors'] = paper['authors']
  p['abstract'] = paper['abstract']

  filtered_list.append(p)

data_frame = pd.DataFrame.from_dict(filtered_list)
data_frame

,title,year,venue,authors,abstract
0,Cross-language Information Retrieval,2021,ArXiv,"[{'authorId': '1832372', 'name': 'P. Galuscáko...",None
1,A Deep Look into Neural Ranking Models for Inf...,2019,Inf. Process. Manag.,"[{'authorId': '1777025', 'name': 'J. Guo'}, {'...",None
2,TREC-COVID: rationale and structure of an info...,2020,J. Am. Medical Informatics Assoc.,"[{'authorId': '1742509', 'name': 'Kirk Roberts...",Abstract TREC-COVID is an information retrieva...
3,Private Information Retrieval With Side Inform...,2017,IEEE Transactions on Information Theory,"[{'authorId': '1686542', 'name': 'S. Kadhe'}, ...",We study the problem of Private Information Re...
4,The Capacity of T-Private Information Retrieva...,2017,IEEE Transactions on Information Theory,"[{'authorId': '2117102362', 'name': 'Zhen Chen...",We consider the problem of <inline-formula> <t...
...,...,...,...,...,...
995,A Privacy-Preserving Framework for Large-Scale...,2015,IEEE Transactions on Information Forensics and...,"[{'authorId': '145826548', 'name': 'Li Weng'},...",We propose a privacy protection framework for ...
996,"Social networks and information retrieval, how...",2016,Inf. Syst.,"[{'authorId': '3080469', 'name': 'Mohamed Reda...",None
997,A Survey of Automatic Query Expansion in Infor...,2012,CSUR,"[{'authorId': '1701045', 'name': 'Claudio Carp...",The relative ineffectiveness of information re...
998,Sublinear Scaling for Multi-Client Private Inf...,2015,Financial Cryptography,"[{'authorId': '3004505', 'name': 'W. Lueks'}, ...",None
999,Semantification of Identifiers in Mathematics ...,2016,SIGIR,"[{'authorId': '3021925', 'name': 'M. Schubotz'...",Mathematical formulae are essential in science...

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [44]:
import tweepy
import csv
import json

def get_tweets(api, num, hashtag):
  tweets = tweepy.Cursor(api.search, q=hashtag, result_type='recent', include_entities=True, monitor_rate_limit=True, wait_on_rate_limit=True, lang="en").items(num)
  return tweets

consumer_key = 'u7L1lnR7HN85dn1qnTFO1cegb'
consumer_secret = 'QN1JrEmit2To46ZcwWAT4aI5QGWZXWRDDUPnMCWV5M66SFc8wT'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
api = tweepy.API(auth)
num_tweets = 1000

# hashtag = input('Enter the hashtag you want to scrape- ')

result = get_tweets(api, num_tweets, "covid")

tweets = []
for res in result:
  tweet = {}
  tweet['User_name'] = res._json['user']['screen_name']
  tweet['Posted time'] = res._json['created_at']
  tweet['Text'] = res._json['text']
  tweets.append(tweet)

df = pd.DataFrame.from_dict(tweets)
df

,User_name,Posted time,Text
0,Satmar550,Wed Sep 28 04:17:41 +0000 2022,RT @wcbs880: President @JoeBiden's #RoshHashan...
1,CETexas,Wed Sep 28 04:17:41 +0000 2022,RT @JudgeClayJ: NEW: Today we report a 3-day t...
2,Adu8848,Wed Sep 28 04:17:40 +0000 2022,"RT @Kirutig: In Tigray, Many families have yet..."
3,rubyeve70,Wed Sep 28 04:17:40 +0000 2022,RT @JasonGrvin: @GovRonDeSantis I am terribly ...
4,mikekimoney,Wed Sep 28 04:17:39 +0000 2022,RT @moneyacademyKE: The sterling pound has fal...
...,...,...,...
995,doctorty,Wed Sep 28 04:10:43 +0000 2022,Yesterday's update... Dr. Ty here with a repor...
996,Cafesys,Wed Sep 28 04:10:42 +0000 2022,RT @RyanPinesworth: Conservatives are suing th...
997,DonnaBradshawCo,Wed Sep 28 04:10:42 +0000 2022,@danwootton The UK economy was struggling pre ...
998,hushnowlilbaby,Wed Sep 28 04:10:41 +0000 2022,RT @TristanSnell: When the first wave of Covid...
999,qewperp,Wed Sep 28 04:10:41 +0000 2022,RT @GeoffField: In an obvious reference to our...